.container
  .jumbotron
    %h1 Edit a puppy!
    %p From here you can add can update an existing puppy.
  .col-md-4
    = render 'form'
  .col-md-8
    .well
      %h3 Current Image:
      = @puppy.image :medium