.container
  .jumbotron
    %h1 Create a puppy!
    %p From here you can add an addition of joy to our lives
  .col-md-4
    = render 'form'
  .col-md-8
    .well
      %h3 Some advice:
      %p Your images should be as high quality as possible.